<% unless post.user == current_user %>
  <div id="like_btn_<%= post.id %>">
    <% if post.liked?(current_user) %>
      <%= link_to like_destroy_path(post.post_numbering_id), method: :delete, remote: true do %>
        <span class="mr-3" style="color:red;">❤︎<small><%= post.like_count(post) %></small></span>
      <% end %>
    <% else %>
      <%= link_to like_path(post.post_numbering_id), method: :post, remote: true do %>
        <span class="mr-3 blue-text-link">❤︎<small><%= post.like_count(post) %></small></span>
      <% end %>
    <% end %>
  </div>
<% else %>
  <span class="mr-3" style="color:red;">❤︎<small><%= post.like_count(post) %></small></span>
<% end %>