<table style="width:400px;">
  <tbody>
    <% posts.each do |post| %>
      <% if post.respond_to?(:creater_id) && post.creater_id.present? %>
        <%= link_to creater_path(post.creater) do %>
          <tr class="timeline" style="height:fit-content; border:1px solid #aaa">
            <td>
              <!--クリエイターアイコン-->
            </td>
            <td>
              <%= post.body %>
              <%= post.image %>
            </td>
          </tr>
        <% end %>

      <% else %>
        <tr class="timeline">
          <td style="width:75px; height:75px; padding:5px;">
            <%= link_to viewer_path(post.viewer) do %>
              <%= image_tag(post.viewer.get_viewer_icon, class: "img-fluid", style: "max-width: 100%; max-height: 100%; object-fit: contain;") %>
            <% end %>
            <%= link_to post_path(post.id) do %>
              <div></div>
            <% end %>
          </td>

          <td style="padding:5px;">
            <div>
              <%= link_to viewer_path(post.viewer) do %>
                <p class="post-body"><%= post.viewer.name %><small class="text-body-secondary"> id: <%= post.user.name %></small></p>
              <% end %>
            </div>

            <%= link_to post_path(post.id) do %>
              <div>
                <p class="post-body"><%= post.body %></p>
              </div>
            <% end %>

            <% if post.user_id == current_user.id %>
              <div class="float-right pr-1 pb-1">
                <%= link_to post_path(post.post_numbering_id), method: :delete, "data-confirm" => "投稿を削除しますか？" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>