<div class="audio_player">
  <% if defined? works %>
    <% works.each do |work| %>
      <div id="audio_player_<%= audio_works %>">
        <audio src= "<%= "#{work.audio}" %>" controls="">
          <a src="<%= "#{work.audio}" %>">ダウンロード</a>
        </audio>
      </div>
    <% end %>
    <%= paginate works %>

  <% end %>
    <p>音楽作品を再生する</p>
      <%= form_with url: audio_play_path, local: true, method: :get do |f| %>
  
        <%= f.label :emotion_id, "作品のイメージ" %>
        <%= f.collection_select :emotion_id, Emotion.all, :id, :name, { prompt: "--選択してください--" }, class: "form-control" %>
  
        <%= f.select :sequence, options_for_select([['新着'], ['人気'],['ランダム']]) %>
  
        <%= f.select :range, options_for_select([['すべて'], ['フォロー中']]) %>

      <%= f.submit "再生", class: "btn btn-primary" %>
    <% end %>
</div>