<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-9">
    <div style="width:400px;">
      <% if @post.respond_to?(:creater_id) && @post.creater_id.present? %>
        <div class="timeline" style="height:fit-content;">
          <div class="d-inline-flex" style="height:75px; padding:5px;">
            <%= link_to creator_path(@post.creator) do %>
              <%= image_tag(@post.creator.get_creator_icon, class: "img-fluid", style: "max-width: 60px; max-height: 60px; object-fit: contain;") %>
            <% end %>
            <div class="ml-2">
              <%= link_to creator_path(@post.creator) do %>
                <p class="post-body">
                  <span style="font-size:20px;"><%= @post.creator.name %></span>
                  <small class="text-body-secondary">id: <%= @post.user.name %></small>
                </p>
              <% end %>
            </div>
          </div>

          <div style="padding:5px; margin-left:55px; height:fit-content;">
            <%= link_to post_path(@post.id) do %>
              <div>
                <p class="post-body"><%= @post.body %></p>
              </div>
              <% if @post.post_image.attached? %>
                <%= image_tag(@post.post_image, class: "img-fluid", style: "max-width: 300px; max-height: 400px; object-fit: contain;") %>
              <% end %>
            <% end %>

            <% if @post.user_id == current_user.id %>
              <div class="d-flex justify-content-end ">
                <%= link_to post_path(@post.post_numbering_id), method: :delete, "data-confirm" => "投稿を削除しますか？" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

      <!--ビューワー投稿の場合-->
      <% else %>
        <div class="timeline" style="height:fit-content;">
          <div class="d-inline-flex" style="height:75px; padding:5px;">
            <%= link_to viewer_path(@post.viewer) do %>
              <%= image_tag(@post.viewer.get_viewer_icon, class: "img-fluid", style: "max-width: 60px; max-height: 60px; object-fit: contain;") %>
            <% end %>
            <div class="ml-2">
              <%= link_to viewer_path(@post.viewer) do %>
                <p class="post-body">
                  <span style="font-size:20px;"><%= @post.viewer.name %></span>
                  <small class="text-body-secondary">id: <%= @post.user.name %></small>
                </p>
              <% end %>
            </div>
          </div>

          <div style="padding:5px; margin-left:55px; height:fit-content;">
            <%= link_to post_path(@post.id) do %>
              <div>
                <p class="post-body"><%= @post.body %></p>
              </div>
              <% if @post.post_image.attached? %>
                <%= image_tag(@post.post_image, class: "img-fluid", style: "max-width: 300px; max-height: 400px; object-fit: contain;") %>
              <% end %>
            <% end %>

            <% if @post.user_id == current_user.id %>
              <div class="d-flex justify-content-end mt-2">
                <%= link_to post_path(@post.post_numbering_id), method: :delete, "data-confirm" => "投稿を削除しますか？" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>