<!DOCTYPE html>
<html>
  <head>
    <title>TellTone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8c1e2aab30.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if flash[:notice] %>
      <%= javascript_include_tag 'flash_window' %>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="min-vh-100" style="background-color:#e7f8f7;">
      <div class="container py-4">

        <!--flashメッセージ-->
        <%= render partial: 'layouts/flash_window' %>

        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </body>
</html>
