<!DOCTYPE html>
<html>
  <head>
    <title>TellTone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8c1e2aab30.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if flash[:notice] %>
      <%= javascript_include_tag 'flash_window' %>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main class="min-vh-100" style="background-color:#bceaf8;">
      <div class="container py-4">

        <!--flashメッセージ-->
        <%= render partial: 'layouts/flash_window' %>

        <%= yield %>

        <!--下部メニュー-->
        <span id="bottom-menu">
          <div class="btn btn-group-md">
            <% if user_signed_in? %>
              <% if current_user.viewer_id.present? %>
                <%= link_to  posts_path, class: 'btn btn-secondary mr-3' do %>
                  <i class="fa-solid fa-house"></i>
                <% end %>

                <%= link_to  post_search_form_path, class: 'btn pink-normal-btn mr-3' do %>
                  <i class="fa-solid fa-magnifying-glass"></i>
                <% end %>

                <% if current_user.viewer_id.present? %>
                  <%= link_to new_viewer_posts_path, class: 'btn btn-success mr-3' do %>
                    <i class="fa-solid fa-plus fa-lg"></i>
                  <% end %>
                <% end %>

                <% if current_user.creator_id.present? %>
                  <%= link_to new_creator_posts_path, class: 'btn pink-normal-btn mr-3' do %>
                    <i class="fa-solid fa-palette fa-lg"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

            <a class="btn btn-secondary" id="back" href="#">
              <i class="fa-solid fa-arrow-up fa-lg"></i>
            </a>
          </div>
        </span>

      </div>
    </main>

    <%= render 'layouts/footer' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
  </body>
</html>
